@model List<WalletStatementModel>

<div class="card hotel-list mb-0">
    <div class="card-body p-0">
        <div class="list-header d-flex align-items-center justify-content-between flex-wrap">
            <h6>Transactions List</h6>
            <div class="d-flex align-items-center flex-wrap">
                <div class="input-icon-start  me-2 position-relative">
                    <span class="icon-addon">
                        <i class="isax isax-search-normal-1 fs-14"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Date</th>
                        <th>TransactionID</th>
                        <th>Remark</th>
                        <th class="text-danger">Debit</th>
                        <th class="text-success">Credit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                           
                            <tr>
                                <td>@Convert.ToDateTime(item.TransactionDate).ToString("dd MMM yyyy, hh:mm tt")</td>
                                <td class="text-gray-9 fw-medium">@item.TransactionId</td>
                                <td>@item.Remark</td>
                                <td><span class="text-danger">- @(item.Factor.ToLower()=="dr"?item.Amount.ToString():"")</span></td>
                                <td><span class="text-success">+@(item.Factor.ToLower()=="cr"?item.Amount.ToString():"")</span></td>
                                <td>@item.Balance</td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>